#projects-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-inline: auto;

  gap: 3.5rem;
  margin-block: 4.5rem;

  max-width: 65rem;

  & header {
    text-align: center;
  }
}